/* --------------------- */
/* ESTILOS GERAIS        */
/* --------------------- */

body {
    margin: 0;
    background: #fff9f3; /* Fundo coral claro */
    font-family: Arial, sans-serif;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------------- */
/* CONTEÚDO PRINCIPAL    */
/* --------------------- */

.content {
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

/* --------------------- */
/* SEUS SERVIÇOS         */
/* --------------------- */

.services-box {
    width: 55%;
    background: linear-gradient(180deg,#efefef,#dcdcdc); /* Gradiente cinza suave */
    border: 2px solid #bfbfbf;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.15); /* Sombra inferior sutil */
}

.services-box h2 {
    margin: 0 0 20px 0;
}

.service-card {
    background: #ffffff;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.service-card h3 {
    margin: 0;
}

.tag {
    display: inline-block;
    background: #ff8b00;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 6px;
    color: white;
}

.price {
    background: #ffc31a;
    padding: 5px 12px;
    border-radius: 6px;
    position: absolute;
    right: 15px;
    top: 30px;
    font-weight: bold;
}

/* --------------------- */
/* ÁREAS DE SERVIÇO      */
/* --------------------- */

.sidebar {
    width: 30%;
}

.areas {
    background: linear-gradient(180deg,#f3f2f2,#dddddd); /* Gradiente cinza suave */
    border: 2px solid #bfbfbf;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.areas h2 {
    margin-top: 0;
}

.tags {
    margin-bottom: 15px;
}
/* --------------------- */
/* BOTÃO PUBLICAR        */
/* --------------------- */

.pub {
    width: 100%;
    padding: 15px 0;
    background:  linear-gradient(180deg,#FED919,#FF8A10);
    border: 2px solid #000000;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
