body {
    font-family: Arial, sans-serif;
    background-color: #fff9f3; /* igual ao BASE.css */
    margin: 0;
    padding: 0;
    color: #23160f;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.notificacoes-box {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

.notificacoes-box h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.notificacao {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.notificacao p {
    margin: 0;
}

.notificacao strong {
    font-weight: bold;
}