body {
  font-family: Arial, sans-serif;
  background: #faf6ea;
  margin: 0;
  padding: 0;
}
/* Ajustes do header de cima */
.header {
  background: #2d180c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 1.5rem 2px 1.5rem;
  /* CIMA DIREITA BAIXO ESQUERDA */
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    font-size: 1rem;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.nav a:hover {
    opacity: 1;
}

.icon-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 8px;
    background: #fff;
    border: 2px solid #2c180f;
    transition: box-shadow 0.2s;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo img {
  height: 80px; /* Defina uma altura fixa. 80px é um bom valor, similar à imagem de perfil. */
  width: auto; /* Mantém a proporção da imagem automaticamente. */
  max-height: 100%; /* Garante que a imagem não ultrapasse a altura do top-header */
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ffcc3a;
  background: #fff;
  object-fit: cover;
}

.icon-img:hover {
    box-shadow: 0 0 0 2px #f9c22e;
}

.icon-img-branca {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 8px;
    background: #2c180f;
    border: 2px solid #2c180f;
    transition: box-shadow 0.2s;
}

.icon-img-branca:hover {
    box-shadow: 0 0 0 2px #f9c22e;
}

#img-arremata {
    margin-right: 24px;
    width: 200px;
    height: 70px;
}